target

## Javscript
/javascript/node_modules/
/javascript/.lsp

## C#
/csharp/.vs
/csharp/TDDTraining/bin/
/csharp/TDDTraining/obj/
.vscode

## Java
java/target/
java/pom.xml.tag
java/pom.xml.releaseBackup
java/pom.xml.versionsBackup
java/pom.xml.next
java/release.properties
java/dependency-reduced-pom.xml
java/buildNumber.properties
java/.mvn/timing.properties

#
# IntelliJ
#
java/*.iml
java/.idea/*
java/!.idea/runConfigurations/

#
# Visual Studio Code
#
java/.settings/
java/.classpath
java/.factorypath
java/.project
java/.vscode/
java/src/main/java/com/fpineda/katas/App.java

java/.travis.yml

## Clojure 
clojure_/target/
clojure_/CHANGELOG.md
clojure_/.hgignore
clojure_/.gitignore
clojure_/.calva

##Scala
.metals
scala/project
scala/target
scala/.bsp
scala/.bloop
scala/.scalafmt.conf
scala/.ammonite
scala/src/main/scala/scala.worksheet.sc
